.title {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.2;
}
.tagline {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 0.4rem;
}
.titleCenter {
  max-width: 100rem;
  text-align: center;
  margin: 7.5rem auto 0;
  padding: 0 2rem;
}

.phaseTextOne {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 0.4rem;
  position: relative;
  z-index: 100;
}

.phaseTextOne:before {
  position: absolute;
  content: "1";
  color: #f6f3fd;
  font-size: 10rem;
  font-weight: 800;
  top: -8rem;
  left: -3.2rem;
  z-index: -1;
}
