.videoModule {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoCTA {
  flex: 1;
  max-width: 50rem;
  margin-right: 9rem;
}

.phaseTextWrapper {
  max-width: 46rem;
  margin-right: 9rem;
  flex: 1;
}

.paragraph {
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.phaseText {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 0.4rem;
  position: relative;
  z-index: 100;
}
