#navbar {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  align-items: center;
  box-shadow: 0 2px 6px 0 rgba(#000, 0.13);
  padding: 0 5rem;
  max-height: 8rem;
  .logo-container {
    flex-grow: 1;
  }
  .menu-container {
    flex-grow: 7;
    display: flex;
    justify-content: space-between;
  }
}
