.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.phaseTextWrapper {
  max-width: 46rem;
  margin-right: 9rem;
}

.paragraph {
  font-size: 1.8rem;
}
