.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.phaseTextWrapper {
  max-width: 44rem;
  margin-left: 9rem;

  @media screen and (max-width: 900px) {
    margin: 4rem;
  }
}

.paragraph {
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.phaseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;

  @media screen and (max-width: 900px) {
    margin: 5rem 2rem;
    flex-direction: column-reverse;
  }
}

.image {
  width: 55rem;
  margin-right: 9rem;
  @media screen and (max-width: 900px) {
    max-width: 44rem;
    width: 100vw;
    margin: 0;
  }
}

.phaseTextTwo {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 0.4rem;
  position: relative;
  z-index: 100;
}

.phaseTextTwo:before {
  position: absolute;
  content: "2";
  color: #f6f3fd;
  font-size: 10rem;
  font-weight: 800;
  top: -8rem;
  left: -4.2rem;
  z-index: -1;

  @media screen and (max-width: 900px) {
    left: -3rem;
  }
}
