.phaseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
}

.image {
  min-width: 48rem;
}

.phaseTextWrapper {
  max-width: 46rem;
  margin-right: 9rem;
}

.paragraph {
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.phaseTextOne {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 0.4rem;
  position: relative;
  z-index: 100;
}

.phaseTextOne:before {
  position: absolute;
  content: "1";
  color: #f6f3fd;
  font-size: 10rem;
  font-weight: 800;
  top: -8rem;
  left: -3.2rem;
  z-index: -1;
}
